.eng {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--cinza);
    font-family: var(--open-sans);

    background-image: linear-gradient(#ababab75, #f2f2f2);
}

.eng__conteudo {
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 7rem;
}

.eng__logo-civil {
    width: 100%;
    max-width: 150px;

    margin-top: 6.7rem;
}

.eng__titulo, .eng__titulo-2 {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;

    margin-top: 1rem;
    margin-bottom: 1.5rem;

    font-family: var(--montserrat-sans);
}

.eng__texto, .eng__texto-2 {
    font-size: 1.1rem;

    font-weight: 400;
    width: 100%;
    line-height: 1.5rem;

    margin-bottom: 15px;
    max-width: 600px
}

.eng__texto-2 {
    margin-bottom: 3rem;
}

.eng__botao {
    border: 2px solid var(--tomato);
    border-radius: 4px;

    padding: 10px 20px;

    color: var(--tomato);
}

@media screen and (min-width: 1800px) {
    .eng {
        flex-direction: row;
        justify-content: space-between;
    }

    .eng__conteudo {
        border: 3px solid var(--cinza);
        border-radius: 8px;

        padding-bottom: 4rem;

        padding-left: 1rem;
        padding-right: 1rem;

        margin-top: 6rem;
    }

    .eng__conteudo:hover {
        border: 3px solid var(--tomato);
    }

    .eng__titulo {
        max-width: 450px;

        text-align: center;
    }

    .eng__titulo-2 {
        max-width: 300px;

        margin-left: 4.5rem;
        text-align: center;
    }

    .eng__texto, .eng__texto-2 {
        max-width: 450px;

        text-align: center;
    }
}